
<div class="col-md-12 col-xs-12 col-sm-12">
    <div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-4  col-sm-offset-4 signinbox">
    <p class="text-center"><i class="fa fa-user fa-5x" style="color:#2ecc71"></i></p>    
        <br><br>
    <form name="signin">
    <div class="input-group input-group-lg">
  <span class="input-group-addon" id="basic-addon1" style="background-color:#2ecc71;color:#fff;"><i class="fa fa-envelope"></i></span>
  <input type="text" class="form-control" style="border:1px solid #2ecc71" placeholder="Enter your Email" aria-describedby="basic-addon1">
</div>
        <br>
   <div class="input-group input-group-lg">
  <span class="input-group-addon" id="basic-addon1" style="background-color:#2ecc71;color:#fff"><i class="fa fa-key"></i></span>
  <input type="text" class="form-control" style="border:1px solid #2ecc71" placeholder="Password" aria-describedby="basic-addon1">
</div>
    <br><br>        
    <div class="col-md-10 col-xs-10 col-sm-10  col-xs-offset-1 col-md-offset-1 btn-green" role="button" ng-click="signinuser(user)">
        <i class="fa fa-check-circle-o"></i> Login
        </div>
    </form>
        <div class="col-md-12 text-center">
            <br>
            <span class="pointer" ng-click="goto('/signup')"><b style="color:#2ecc71"><i class="fa fa-plus-circle"></i> Create a new Account</b></span>
        </div>
        </div>
    
</div>
